.table {
  min-width: 650;
}
.button {
  display: 'flex';
  margin-right: 10;
}

.actions {
  display: flex;
}

.actions > * {
  margin: 2px 4px;
  /* display: 'flex';
  flex-direction: 'row'; */
}

.headerText {
  text-transform: capitalize;
}

.headerText > * {
  font-weight: bold;
}
