.table {
  min-width: 650;
}
.button {
  display: 'flex';
  margin-right: 10;
}
.actions {
  display: 'flex';
  flex-direction: 'row';
}

.headerText {
  text-transform: capitalize;
}

.headerText > * {
  font-weight: bold;
}
