.root {
  width: 100%;
  padding-right: 48px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 25px;
}

.leftMedia {
  width: 80%;
  height: 300px;
  margin: 8px;
  margin-left: 0px;
  border-radius: 18px;
}

.colMedia {
  width: 20%;
  margin: 8px;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.rightMedia {
  display: flex;
  height: 95px;
  border-radius: 18px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.full {
  width: 100%;
}

.big {
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 21.18px;
  line-height: 125%;
  margin-bottom: -10px;
}

.big2 {
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 21.18px;
  line-height: 125%;
  margin-bottom: 4px;
  margin-top: 60px;
}

.line {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.title {
  display: flex;
  margin-right: 10px;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 600;
  font-size: 17.22px;
  line-height: 125%;
  height: 0px;
}

.title2 {
  display: flex;
  margin-right: 10px;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 600;
  font-size: 17.22px;
  line-height: 125%;
  margin-bottom: 16px;
}

.cont {
  display: flex;
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  padding-top: 6px;
}

.small {
  font-size: 15px;
  font-weight: 300;
}

.chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.space {
  height: 30px;
}

.chip {
  background-color: #f8f4ff;
  margin-right: 14px;
  margin-bottom: 14px;
}
