.root {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 25px;
}

.leftMedia {
  width: 50%;
  height: 200px;
  margin: 8px;
}

.colMedia {
  width: 50%;
  margin: 8px;
}

.rightMedia {
  height: 100px;
  margin-bottom: 2px;
}

.section {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
}

.big {
  font-size: 20px;
  font-weight: bold;
}

.small {
  font-size: 15px;
  font-weight: 300;
}

.chips {
  display: flex;
  flex-direction: row;
}
