.root {
  background: #f8f4ff;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 2px 20px rgba(128, 128, 128, 0.171);
  border-style: solid;
  border-color: #b0a4c580;
  border-width: 1px;
  font-weight: 100;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

.error {
  background: #fff0f0;
  color: black;
  border-radius: 20px;
  box-shadow: 1px 2px 20px rgba(128, 128, 128, 0.171);
  border-style: solid;
  border-color: #b0a4c580;
  border-width: 1px;
  font-weight: 100;
  padding: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

.lavendarButton {
  color: #71579c;
}

.signIn {
  color: #be0000;
}

.grayButton {
  color: #908d93;
}

.linkButton {
  color: #71579c;
  font-weight: 500;
}

.action {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
