.entryName {
  /* margin: 10px; */
  width: 100%;
  float: left;
}

.entries {
  width: 100%;
  text-align: left;
}

.wrapper {
  /* margin: auto; */
  margin-top: 200px;
  text-align: center;
  margin-left: 35%;
  margin-right: 30%;
}

.titles {
  /* width: 30%; */
  text-align: left;
  /* margin: auto; */
}

.entryInput {
  float: right;
}

.buttons {
  margin-top: 20px;
}
