.page {
  flex-direction: column;
  display: flex;
  padding: 20px;
  padding-top: 0px;
  margin-left: 180px;
}

.admin {
  display: flex;
  height: 30px;
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
}

.leftCol {
  width: 200px;
  display: flex;
  margin-right: 30px;
}

.rightCol {
  width: 100%;
}

.buttons {
  flex-direction: column;
  justify-content: left;
  margin-top: 60px;
}

.buttonFlex {
  margin-left: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
}
