.questionsButton {
  text-transform: none;
  display: flex;
  float: right;
  margin-top: 15px;
}

.newModal.MuiDialog-paperFullWidth {
  min-height: 60vh;
}

.questionInput {
  max-height: 250px;
}

.title {
  font-size: 1.5rem;
  font-weight: 800;
}
