.newModal.MuiDialog-paperFullWidth {
  min-height: 60vh;
}

.modalInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.modalInputLabel {
  color: black;
}

.dialogTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.dialogActions {
  padding: 8px 24px;
}
