.content {
  padding-top: 50px;
  border-top: solid 1px;
  border-color: silver;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.stepper {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 4em;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.wording {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
