.title {
  font-size: 1.7rem;
  font-weight: 600;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.content {
  margin-top: 50px;
  width: 60%;
}

.stepper {
  margin-top: 15px;
  border-radius: 4em;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.wording {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.bar {
  width: 200%;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.complete {
  color: rgb(183, 146, 241);
}

.current {
  color: rgb(144, 86, 239);
  font-weight: 800;
}

.untouched {
  color: rgb(143, 143, 143);
}
