.content {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.selectBar {
  display: flex;
  flex-direction: row;
}

.columns {
  display: flex;
  flex-direction: row;
}

.leftCol {
  display: flex;
  width: 33%;
  border-width: 1px;
  border-color: rgba(180, 180, 180, 0.815);
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
  height: 81vh;
}

.rightCol {
  width: 70%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.rightContent {
  border-width: 1px;
  border-color: rgba(180, 180, 180, 0.815);
  border-style: solid;
  height: 70vh;
  padding: 20px;
}

.approve {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
