.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  height: 64px;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  margin: 0px 10px;
}

.logButtonSpace {
  margin-left: 10px;
}

.signOutText {
  color: #be0000;
}

.footer {
  height: 20px;
}

.searchbar {
  border: 1px solid #bbb9bd;
  box-sizing: border-box;
  border-radius: 18px;
  width: 60%;
  display: flex;
  align-items: center;
  height: 40px;
}

.searchField {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 15px;
}

.entire {
  background-color: white;
}

.searchRoot {
  padding-left: 15px;
  padding-top: 2px;
  margin-left: -10px;
}
