.root {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 84px);
}
.leftCol {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
  height: 100%;
  padding-left: 40px;
  padding-right: 20px;
}

.rightCol {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: white;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

.content {
  flex: 1;
  overflow: auto;
  background-color: white;
}

.large {
  font-size: 30px;
  font-weight: bold;
}

.med {
  font-size: 20px;
  font-weight: 400;
}

.appBar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
}
