.top {
  display: flex;
  width: 50%;
}

.root {
  display: flex;
  background-color: white;
  flex-direction: row;
}
.leftCol {
  display: flex; 
  justify-content: flex-start;
  flex-direction: column;
  width: 25%;
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

.rightCol {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
  background-color: lightpink;
}

.detailContent {
  overflow-y: scroll;
  height: 80%;
  background-color: lightgreen;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: silver;
}

.accept {
  border-radius: 8px;
  font-size: 15px;
}

.decline {
  border-radius: 8px;
  color: white;
  font-size: 15px;
}
