.orgMargins {
  padding: 0px 40px;
}

.titleColumns {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 30%;
  margin-right: 20px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20px;
}

.projects {
  margin-top: 36px;
}

.keyWords {
  display: flex;
  flex-direction: row;
}

.Header {
  margin-top: 15px;
  margin-bottom: 5px;
}

.subHeader {
  margin-top: 5px;
  margin-bottom: 0px;
}

.info {
  margin-top: 5px;
  margin-bottom: 0px;
}

.infoHeader {
  margin-bottom: 5px;
  margin-top: 20px;
}

.orgImages {
  display: flex;
  justify-content: center;
}

.editButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 0px;
}

.buttonInd:hover {
  width: 50%;
  background-color: #71579c;
  color: #fafafa;
}

.buttonIndSelected:hover {
  width: 50%;
  background-color: #a793c8;
}

.headerButton {
  width: 100%;
  margin-top: 20px;
}

.audienceHeader {
  margin-top: 48px;
  margin-bottom: 5px;
}

.infoContent {
  margin-top: 0;
}

.demographicSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.demographic {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-bottom: 8px;
}

.demographicTags {
  display: flex;
  flex-direction: row;
}

.editButtonStyles {
  border-radius: 20px;
  background-color: #fafafa;
  color: #908d93;
  border: solid #908d93;
  border-width: 1px;
  box-shadow: none;
  padding: 1px;
}

.newModal {
}

.modContent {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.modTab {
  width: 500px;
}

.declineReason {
  display: flex;
}

.declineButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dialogTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
}

.send {
  margin: 20px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-end;
}

.declineNotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 600;
  margin-bottom: 7px;
}

.declineNotesContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
}

.customButton {
  margin-left: 40px;
}
