.orgMargins {
  margin-left: 142px;
  margin-right: 142px;
  margin-bottom: 90px;
}

.titleColumns {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 30%;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.projects {
  display: flex;
  flex-direction: row;
}

.keyWords {
  display: flex;
  flex-direction: row;
}

.Header {
  margin-top: 20px;
  margin-bottom: 5px;
}

.subHeader {
  margin-top: 5px;
  margin-bottom: 0px;
}

.info {
  margin-top: 5px;
  margin-bottom: 0px;
}

.infoHeader {
  margin-bottom: 5px;
  margin-top: 20px;
}

.orgImages {
  display: flex;
  justify-content: center;
}

.editButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.buttonGroup {
  width: 100%;
}

.buttonInd {
  width: 50%;
}

.headerButton {
  width: 100%;
  margin-top: 30px;
}

.audienceHeader {
  margin-top: 48px;
  margin-bottom: 5px;
}

.infoContent {
  margin-top: 0;
}
