.orgMargins {
  padding: 0px 40px;
}

.titleColumns {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 25%;
  margin-right: 20px;
  margin-left: 110px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 20px;
  margin-right: 110px;
}

.projects {
  margin-top: 36px;
}

.keyWords {
  display: flex;
  flex-direction: row;
}

.Header {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 26px;
}

.subHeader {
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
}

.info {
  margin-top: 5px;
  margin-bottom: 0px;
}

.infoHeader {
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: bold;
}

.orgImages {
  display: flex;
  justify-content: center;
}

.editButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 55px;
}

.buttonInd:hover {
  width: 50%;
  background-color: #71579c;
  color: #fafafa;
}

.buttonIndSelected:hover {
  width: 50%;
  background-color: #a793c8;
}

.headerButton {
  width: 100%;
  margin-top: 20px;
}

.audienceHeader {
  margin-top: 48px;
  margin-bottom: 5px;
}

.infoContent {
  margin-top: 0;
}

.demographicSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.demographicEdit {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 30%;
}

.demographic {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 20%;
}

.missionAndProj {
  width: 100%;
}

.demographicTags {
  display: flex;
  flex-direction: row;
}

.editButtonStyles {
  border-radius: 20px;
  background-color: #fafafa;
  color: #908d93;
  border: solid #908d93;
  border-width: 1px;
  box-shadow: none;
  padding: 1px;
}
