.main {
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin: 10px;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: inline-block;
  justify-content: flex-start;
  align-items: left;
  color: pink;
  font-size: 15px;
}

.name {
  font-size: 25px;
  font-weight: 400;
  color: red;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: left;

  border: 5px solid blue;
  height: 30%;
  padding: 10px;
  margin: 2px;
}
