.root {
  margin: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 21%;
  font-size: 10px;
}

.header-Typography {
  font-weight: bolder;
}

.tabinfo {
  height: 500px;
  overflow-y: scroll;
  border-bottom: 1px solid #bbb9bd;
}

.bottomButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.rightBottom {
  display: flex;
}

.popup {
  padding-right: 10px;
  padding-top: 5px;
  font-size: 15px;
  color: #908d93;
}

.autoField {
  margin-right: 20px;
}

.info {
  margin-left: 20%;
  margin-right: 20%;
}

.exitButton {
  margin-left: 3%;
}
