.buttonGroup {
  width: 100%;
}

.buttonInd {
  width: 50%;
  background-color: #eceaee;
  color: #9276b5;
}

.buttonIndSelected {
  width: 50%;
  background-color: #9276b5;
}

.buttonInd:hover {
  color: #694f95;
  background-color: #eceaee;
}
