.title {
  font-size: 2rem;
  font-weight: 800;
  display: flex;
}

.passwords {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 60%;
  align-items: center;
  height: 60%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 104px);
}

.save {
  display: flex;
  justify-content: flex-end;
}
