.title {
  font-size: 2rem;
  font-weight: 800;
  display: flex;
}

.textRegular {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
}

.textSmall {
  font-size: 0.8rem;
  font-weight: normal;
  display: flex;
}

.passwords {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}

.field {
  margin-top: 15px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.content {
  width: 65%;
  align-items: center;
  height: 60%;
  margin-left: 35%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 104px);
}

.save {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.confirm {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
