.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 85px);
  align-items: center;
  flex-direction: column;
}

.box {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: solid 1px;
  border-color: silver;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.top {
  margin-bottom: 20px;
}

.settings {
  font-size: 1.45rem;
  margin-bottom: 25px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.text {
  margin-bottom: 8px;
}

.middle {
  margin-top: 20px;
  margin-bottom: 40px;
}

.delete {
  justify-content: space-between;
  display: flex;
}

.emailEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}

.emailButton {
  width: 270px;
  justify-content: space-between;
  display: flex;
}

.textfield {
  margin-right: 10px;
}

.passwordButton {
  margin-top: 10px;
  margin-bottom: 40px;
}
