.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.box {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.top {
  margin-bottom: 20px;
}

.settings {
  font-size: 1.25rem;
  margin-top: 10px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.text {
  margin-bottom: 8px;
}

.middle {
  margin-top: 20px;
  margin-bottom: 40px;
}

.delete {
  justify-content: space-between;
  display: flex;
}
