.entries {
  width: 100%;
  text-align: left;
}

.wrapper {
  margin: auto;
  margin-top: 200px;
  text-align: center;
  width: 60%;
  height: 400px;
  font-weight: 800;
}

.titles {
  text-align: left;
}

.errorText {
  color: red;
}

.entryField {
  width: 80%;
  border-radius: 5px;
  border-width: 0.5px;
  float: right;
  /* padding: 5px; */
}

.login {
  color: gray;
  font-size: small;
}

.submit {
  float: right;
  border-radius: 15px;
  background-color: gray;
  color: white;
  padding: 5px;
  width: 70px;
  text-transform: none;
  border-width: 0.5px;
}

.entryName {
  text-transform: capitalize;
}

.forgotPassword {
  color: gray;
  font-size: smaller;
}
