.root {
  margin: 30px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 20px;
}

.rowEntry {
  display: flex;
  justify-content: space-between;
}

.addButton {
  display: flex;
  float: right;
  margin-top: 10px;
}

.deleteButton {
  height: 50%;
  margin: auto;
  margin-right: 0;
}

.textField {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.descriptor {
  display: flex;
}

.errorPara {
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  color: red;
  margin-left: 2%;
}
