.body {
  font-family: Verdana;
}

.entries {
  width: 100%;
  text-align: left;
}

.wrapper {
  /* margin: auto; */
  margin-top: 200px;
  text-align: center;
  margin-left: 37%;
  margin-right: 17%;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.titles {
  /* width: 30%; */
  text-align: left;
  /* margin: auto; */
}

.errorText {
  color: red;
}

.entryField {
  width: 80%;
  height: 50%;
  border-radius: 15px;
  border-width: 0.5px;
  float: right;
  /* padding: 5px; */
}

.login {
  color: gray;
  font-size: small;
}

.submit {
  float: right;
  border-radius: 15px;
  background-color: gray;
  color: white;
  padding: 5px;
  width: 70px;
  border-width: 0.5px;
}

.emailExists {
  color: red;
}
